body {
    background: #fff;
    margin: 0;
}

#map svg {
    transform: rotate(11.3deg)translate(-350px,-75px);

}

#vis {
    transform: rotate(0deg);
}

rect:hover {
  opacity: 0.7;
}

.label, a, p{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

path {
    fill: #eee;
}

path:hover{
    fill: #ddd;
}

.currentCounty {
    fill: red!important;
}


.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    font-size: 12px;
    padding: 8px;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: #000;
}

.legend {
        transform: rotate(0deg) translate(0,-500px);
}

#form, select#dropdown  {
    position: relative;
    z-index: 999;
}
